$colors: (
  neutral: (
    100: hsl(0, 0%, 99%),
    200: hsl(0, 0%, 80%),
    300: hsl(0, 0%, 60%), 
    400: hsl(0, 0%, 25%),
    700: hsl(0, 0%, 15%),
    900: hsl(0, 0%, 0%),
  ),
  primary: (
    100: hsla(245, 88%, 42%, 0.09),
    200: hsl(250, 52%, 40%),
    400: #2a1f62,
  ),
  secondary: (
    100: #e2ffeb,
    200: #9ce9cd,
    300: #6e937a,
    400: #394240
  ),
  calendar_slot_colors: (
    100: hsl(4, 45%, 95%),
    200:hsl(104, 45%, 95%),
    300:hsl(204, 45%, 95%),
    400:hsl(304, 45%, 95%),
    500:hsl(154, 45%, 95%),
    600:hsl(254, 45%, 95%),
    700:hsl(354, 45%, 95%),
    800:hsl(54, 45%, 95%),
    900:hsl(4, 45%, 95%),
  )
);