$colors: (
  neutral: (
    100: hsl(0, 0%, 99%),
    200: hsl(0, 0%, 80%),
    400: hsl(0, 0%, 20%),
    900: hsl(0, 0%, 0%),
  ),
  primary: (
    100: hsla(245, 88%, 42%, 0.09),
    200: hsl(250, 52%, 40%),
    400: #2a1f62,
  ),
  secondary: (
    100: #e2ffeb,
    200: #9ce9cd,
    300: #6e937a,
    400: #394240)
);