@use '../abstracts/' as *;


/**
layout
*/
.calendar {
  flex: 1 1 80%;

  &__controls {
    .date__information {
      display: inline-block;
      width: 35ch;
      text-align: center;
      padding: 0 1em;
      outline: 1px solid purple;
    }
  }

  &__month {
    @include grid($gap: size(4));
  }

  &__week {
    @include grid($columns: 7, $gap: size(4));

    .weekday_initials {
      grid-column: 1/8;
    }
  }

  &__day {
    display: grid;
    grid-auto-rows: var(--slot-height);

    .calendar__slot {
      position: relative;
    }

    .calendar__slot--appointment {
      position: relative;
      z-index: 1;
      height: calc((var(--slot-height) * var(--grid-rows)));
    }
  }

  &__appointment--single {
    // position: fixed;
    inset: 0;
    z-index: 1;
    background-color: clr(primary, 100);

    fieldset {
      width: min(100% - 2rem, 40rem);
      margin-inline: auto;
      background-color: clr(neutral, 100);
      padding: size(16);
    }
  }
}

/**
Presentation
*/
.calendar {

  &__day {
    --_day-bgcolor: var(--day-bgcolor, #{clr(neutral, 100)});

    padding: var(--day-padding);
    border: 1px solid var(--day-borderclr, transparent);
    background-color: var(--_day-bgcolor);

    &:hover {
      --day-bgcolor: #fff;
      --day-borderclr: #{clr(neutral,200)};
    }


    .calendar__slot {
      --_slot-color: var(--slot-color, #{clr(neutral,200)});
      --_slot-bgcolor: var(--slot-bgcolor, --_day-bgcolor);
      --_slot-border-color: var(--slot-border-color, transparent);

      color: var(--_slot-color);
      background-color: var(--_slot-bgcolor);
      border: 1px solid var(--_slot-border-color);
      padding: 4px;

      &--appointment {
        --_grid-rows: var(--grid-rows, 1);
        --_padding-x: var(--appointment_px, #{size(8)});
        --_padding-y: var(--appointment_py, #{size(4)});
        --_padding: var(--_padding-y) var(--_padding-x);
        --_appointment-ml: var(--appointment-ml, #{size(4)});

        margin-left: var(--_appointment-ml);
        border-radius: size(4);
        padding: var(--_padding);
        grid-row: span var(--_grid-rows);
      }
    }
  }

  // &__day.compressed {
  //   --day-padding: #{size(4)};
  //   --slot-height: 1.25lh;

  //   .compressed__date {
  //     color: clr(neutral, 200);
  //   }
  // }

  &__day.long {
    --day-padding: #{size(8)};
    --slot-height: 1.25lh;

    .calendar__day--name {
      padding-block-end: size(16);
    }


    .calendar__slot {

      // time in hours
      &::before {
        content: var(--slot-time, '');
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(calc(-1 * var(--day-padding) * 1px), -25%);
        color: clr(neutral, 200);
        font-size: fs(500);
      }

      // underline at 15 (short) & 30 (long) min
      &::after {
        content: '';
        position: absolute;
        top: 0;
        background-color: darken(clr(neutral, 100), 5);
        display: block;
        height: 1px;
        width: calc(var(--decoration-width, 1) * 10px);
        margin-block: size(4);
        margin-inline-start: calc(size(12) - (var(--decoration-width) * 4px));
      }
    }
  }

  .weekday_initials {
    gap: size(4);

    .initial {
      --initials-font-size: #{fs(600)};
      --initials-font-weight: 700;
      --initials-font-color: #{clr(neutral, 100)};
      --initials-background-color: #{clr(neutral, 400)};
    }
  }
}