@use '../abstracts/' as *;

.dateTimePicker--wrapper {
  --button-padding: 0;
  --button-size: 32px;
  position: relative;
  // width: 200px;
  background: white;
  border: 1px solid clr(primary, 300);

  &[data-selection="week"] {
    --row-button-color: red;

    // .picker__calendar--day.selected:
    .picker__calendar--day.selected .button {
      --button-bg-color: initial;
      --button-color: #{clr(neutral, 400)};
    }
    .picker__calendar--week:hover {
      .button {
        --button-bg-color: var(--row-button-color) !important;
        &:active {
          transition: all 0s;
        }
      }
    }
  }
}

.date-picker {
  position: absolute;
  left: var(--button-size);
  width: 200px;
  top: calc(var(--button-size) / 2);
  background-color: clr(neutral, 100);
  border: 1px solid clr(primary, 300);
  @include slide-fade-in();
  z-index: 1;
}
.calendar--wrapper {
  position: relative;
}
.calendar__selection--month {
  position: absolute;
  inset: 0;
  @include grid($columns: 3, $gap: size(4));
  background-color: clr(neutral, 100);
  @include fade-in();
  height: calc(2lh * 4);
  @include border($color: primary, $shade: 100);
  padding: size(4);

  .month {
    --button-border-radius: 50%;
    --button-padding: size(8);
    &.current {
      --button-bg-color: #{clr(primary,200)};
      --button-color: #{clr(neutral, 100)};
      &:hover {
        --button-bg-color: #{clr(primary,200)};
        --button-color: #{clr(neutral, 100)};
        --button-border-color: #{clr(primary,300)};
        // --button-color: #{clr(neutral, 100)};
      }
    }
    &:hover {
      --button-bg-color: #{clr(primary,100)};
    }
  }
}

.calendar__selection--weeks {
  // &.month,
  // &.week {
  //   width: 100%;
  // }
  .weekday_initials {
    gap: 0 !important;
  }
  .initial {
    --initials-font-size: #{fs(300)} !important;
  }
  &.week{
    @include grid($columns: 7);
    width: 100%;
    &:hover {
      --button-bg-color: #{clr(primary,100)};
    }
  }
  .week-btn {

  }
}

.calendar__selection--days {
  border-collapse: collapse;
  font-size: fs(200);

  thead tr{
    background-color: clr(neutral, 400);
    .initial {
      color: clr(neutral, 100);
    }
  }
  .weekday_initials {
    gap: 0;
  }
  &.month,
  &.week {
    width: 100%;
  }

  &.day {
    .button {
      --button-color: #{clr(neutral, 400)};
      --button-bg-color: initial;
  
      &:hover {
        --button-bg-color: #{clr(primary,100)} !important;
      }

      width: max(2.5ch, 100%);
      aspect-ratio: 1;
      color: var(--button-color);
      text-align: center;
      background-color: var(--button-bg-color);
    }

    &.notInMonth .button {
      --button-color: #{clr(neutral, 200)};
    }

    &.selected .button {
      --button-bg-color: #{clr(primary,300)};
      --button-color: #{clr(neutral, 100)};

      &:hover {
        --button-bg-color: #{clr(primary,200)};
      }

      &:active {
        --button-bg-color: #{clr(neutral,100)};
        --button-border-color: #{clr(primary,200)};
        --button-color: #{clr(primary, 400)};
      }
    }
  }
}

// .picker__time {

// }

.input__date {
  width: 200px;
  @include grid($columns: 3, $gap: size(4));
  --input-padding-left: 4px;
  --input-padding-right: 4px;
}

// .month__select {
  
// }

@media print {
  .dateTimePicker--wrapper {
    display: none;
  }
}