@use '../abstracts/' as *;

// .dateTimePicker--wrapper {
//   --button-padding: 0;
//   --button-size: 32px;

//   position: relative;
//   background: clr(neutral, 100);



// //common layouts
// .calendar__selection--month,
// .calendar__selection--weeks.month {
//   height: calc(2lh * 4);
//   width: 100%;

// }

// //common styles 
// table {
//   border-collapse: collapse;
// }
// .weekday_initials {
//   background-color: clr(neutral, 400);
//   gap: 0;
//   .initial {
//     --initials-font-size: #{fs(200)};
//     color: clr(neutral, 100);
//   }
// }

// .calendar__selection--month,
// .calendar__selection--weeks.month {
//   background-color: clr(neutral, 100);
//   @include border($color: primary, $shade: 100);

// }


// }

// .date-picker {
  
//   position: absolute;
//   left: var(--button-size);
//   width: 200px;
//   top: calc(var(--button-size) / 2);
//   background-color: clr(neutral, 100);
//   border: 1px solid clr(primary, 300);
//   @include slide-fade-in();
//   z-index: 1;
//   padding: size(4);
// }
// .calendar--wrapper {
//   position: relative;
// }



// .calendar__selection--month {
//   position: absolute;
//   inset: 0;
//   // @include grid($columns: 3, $gap: size(4));
//   @include fade-in();
//   padding: size(4);
//   &.fadeout {
//     @include fade-out();
//   }
//   .month {
//     --button-border-radius: 50%;
//     --button-padding: #{size(8)};
//     &.current {
//       --button-bg-color: #{clr(primary,200)};
//       --button-color: #{clr(neutral, 100)};
//       &:hover {
//         --button-bg-color: #{clr(primary,200)};
//         --button-color: #{clr(neutral, 100)};
//         --button-border-color: #{clr(primary,300)};
//         // --button-color: #{clr(neutral, 100)};
//       }
//     }
//     &:hover {
//       --button-bg-color: #{clr(primary,100)};
//     }
//   }
// }

// .calendar__selection--weeks {

//   &.week{
//     @include grid($columns: 7);
//     width: 100%;
//     &:hover {
//       --button-bg-color: #{clr(primary,100)} !important;
//       // --button-color:#{clr(neutral, 100)};
//     }
//     &.selected {
//       --button-bg-color: #{clr(neutral, 200)};
//     }
//   }
//   // .week-btn {

//   // }
// }

// .calendar__selection--days {
  
//   font-size: fs(200);

//   &.month,
//   &.week {
//     width: 100%;
//   }

//   &.day {
//     .button {
//       --button-color: #{clr(neutral, 400)};
//       --button-bg-color: initial;
  
//       &:hover {
//         --button-bg-color: #{clr(primary,100)} !important;
//       }

//       width: max(2.5ch, 100%);
//       aspect-ratio: 1;
//       color: var(--button-color);
//       text-align: center;
//       background-color: var(--button-bg-color);
//     }

//     &.notInMonth .button {
//       --button-color: #{clr(neutral, 200)};
//     }

//     &.selected .button {
//       --button-bg-color: #{clr(primary,300)};
//       --button-color: #{clr(neutral, 100)};

//       &:hover {
//         --button-bg-color: #{clr(primary,200)};
//       }

//       &:active {
//         --button-bg-color: #{clr(neutral,100)};
//         --button-border-color: #{clr(primary,200)};
//         --button-color: #{clr(primary, 400)};
//       }
//     }
//   }
// }

// // .picker__time {

// // }

// .input__date {
//   width: 200px;
//   @include grid($columns: 3, $gap: size(4));
//   --input-padding-left: 4px;
//   --input-padding-right: 4px;
// }

// // .month__select {
  
// // }

// @media print {
//   .dateTimePicker--wrapper {
//     display: none;
//   }
// }


.calendar__wrapper {


.calendar__inputs {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1rem;
  width: 16ch;
  border: 1px solid clr(neutral, 300);
  padding-inline: 0.5em;
  margin-inline-end: 0.25rem;
  &:focus-within {
  border: 1px solid clr(primary, 300);

  }

  .input-wrapper{
    &:not(:last-of-type):after {
      content: "/";
      position: absolute;
      right: 0.25rem;
      bottom: 0.125rem;
      color: clr(neutral, 200);
    }
  }
  .input.number {
    --input-padding-top: 0;
    border: 0;
    outline: 0;

    &:focus-within {
      color: clr(primary, 300);
      background: #FFF;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    // &:not(:last-of-type){
      
    // }
  }

}

}