@use '../abstracts/' as *;

.icon {
  fill: var(--fill);
  stroke: var(--stroke-color);

  path {
    fill: var(--path-fill);
  }

  &.transparent {
    --fill: transparent;

    path {
      --path-fill: transparent;
    }
  }

  &:not(.transparent) {
    --fill: #{clr(primary, 300)};

    &:hover {
      --fill: #{clr(primary, 200)};
    }
  }
}